
/* git component */

.git {
    overflow-y: scroll;
    height: 100vh;
}
.myImage {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gitResult {
    display: flex;
    background-color: white;
    color: black;
    margin: 20px 20%;
    padding: 5px;
}
.gitResult img {
    width: 70px;
    height: 70px;
    margin-left: 15%;
}

.subGitresult {
    width: 450px;
    margin: 0 0 0 23px;
}
.subGitresult p {
    font-size: 12px;
}
.starsIssues {
    display: flex;
    justify-content: space-between;
    width: 270px;
}
.myP {
    border: 1px solid black;
} 

@media only screen and (max-width: 768px) {
    .gitResult {
        margin: 20px;
        padding: 5px;
    }
    .gitResult img {
        width: 60px;
        height: 60px;
        margin-left: 2px;
    }
    .starsIssues {
        display: flex;
        justify-content: space-between;
        width: 250px;
    }

}

/* Pagination component */

.paginate {
    display: flex;
    justify-content: center;
}
.paginate p {
    color: black;
    background-color: white;
    margin: 0 7px;
    padding: 2px 7px;
    font-weight: 700;
    cursor: pointer;
}